<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Histórico de Serviços</title>
</head>
<body>
    <div>
        <h1><a href="/">Sistema de Histórico de Serviços</a></h1>
    </div>

    {% for s in servicos %}
    <div>
        <h1><a href="">{{s.tipo}}</a></h1>
        <p>realizado em:{{s.dataServico}}</p>
        <p>{{s.descricao|linebreaksbr}}</p>
        <p><strong>Local: </strong>{{s.local}}</p>
        <p><strong>Responsável: </strong>{{s.responsavel}}</p>
    </div>
    {% endfor %}

</body>
</html>