<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Histórico de Serviços</title>
</head>
<body>
    <div>
        <h1><a href="/">SISTEMA DE HISTÓRICO DE SERVIÇOS</a></h1>
    </div>

    <div>
        <h2>Troca de Memória</h2>
        <p>Data:19/10/2018</p>

        <p>enean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            Donec id elit non mi porta gravida at eget metus.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus.</p>
    </div>
    <div>
        <h2>Software</h2>
        <p>Data:19/10/2018</p>

        <p>enean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            Donec id elit non mi porta gravida at eget metus.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus.</p>
    </div>

</body>
</html>